<h1>About Me</h1>

<div>
  <p>This is totally the About section</p>
</div>

<div class="container">
  <p>some stuff in a container</p>
  <%= link_to 'Home', root_path %>
</div>

<footer>
  <p> a footer</p>
</footer>
