<h1>My homepage</h1>

<div>
  <p>This is totally the homepage</p>
</div>

<div class="container">
  <p>some stuff in a container</p>
  <%= link_to 'About', about_path %>
</div>

<footer>
  <p> a footer</p>
</footer>
